:root {
    
  
    /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424; */ 
  
     font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
    height: 100%;
    display: flex;
    flex-direction: column; 
   } 

   .content {
    flex: 1; /* Makes the content area grow to fill available space */
}

  body{
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87)
    
  }

  .dark-mode {
    background-color: #E5DDC5;
    color: #242424;
    
  }

#top{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    top: 5px;
    margin-top: 30px;
    margin-left: 50px;
    text-align: center;
}

hr.new1 {
    position: absolute;
    left: 400px;
    top: 45px;
    width: 68lvw;
    border-top: 1px solid white;
}

#top h1{
    color: burlywood;
    position: absolute;
    left: 100px;
    top: -20px;
    font-size: 40px;
    font-style: italic;
}  

#top p{
    position: absolute;
    left: 102px;
    bottom: -1px;
}


#top img{
    height: 100px;
}

#top button{
  position: absolute;
  right: 125px;
  top: 35px;
  text-align: center;
  justify-content: center;
  align-items: end;

}

.socials{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 10px;
    max-width: 1280px;
    right: 150px;
    bottom: 30px;
    font-size: 20px;
    align-items: center;
}

.socials img{
    width: 40px;
    margin-left: 20px;
}

#body-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#container-left{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 80px;
    margin-left: 70px;
}

#quote{
    position: relative;
    bottom: 80px;
    display: flex;
    flex-direction: column;
}

#quote h1{    
    position: relative;
    left: 40px;
    font-size: 40px;
    margin-bottom: 0px;
}


#quote p{
    position: relative;
    left: 80px;
    bottom: 15px;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 15px;
}



#quote .text {
    color: white;
    margin-top:20px;
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: start;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 400px; /* Set a fixed width */
    height: auto; /* Allow the height to grow */
  }


 #quote button{
    /* background-color: purple; */
    background-color: burlywood;
    width: 400px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

button:hover{
    background-color: aqua;
}


  #container-right{
    max-width: 1280px;
    margin-bottom: 150px;
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    align-items: end;
  }

  #column1{
    float: left;
    display: flex;
    flex-direction: column;
  }

  #column2{
    display: flex;
    flex-direction: column;
  }

  #container-right fieldset{
    border-radius: 10px;
    width: 465px;
    padding: 30px;
    margin: 10px
  }


  #container-right legend{
    font-size: 25px;
    margin: 5px;
  }

  #container-right label{
    font-size: 20px;
    font-weight: 500;
  }

  #container-right select{
    font-size: 15px;
  }

  #container-right button{
    position: relative;
    /* display: flex; */
    top: 40px;
    left: 35%;
    margin-left: 10px;
    align-items: center;
    justify-content: center;

    background-color: burlywood;
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
  }


  footer{
    /* left: 0;
    bottom: 0; */
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 10px;
 }
  

  .loading-spinner {
    position: relative;
    left: 160px;
    margin-top: 1rem;
    /* border: 8px solid #9a238e; */
    border: 8px solid black;
    border-top-color: #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s ease-in-out infinite;
  }

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }  
  }


  .exercise-prompt{
    position: relative;

    left: 60px;
    
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    margin-left: -50px;
    color: white;
    width: auto;
    height: auto;
    font-weight: 400;
    /* border: 1px solid white;
    border-radius: 10px; */
  }



  .exercise-prompt .text{
    color: white;
    margin-top:20px;
    
    margin-bottom: 20px;
    border-radius: 10px;
    /* text-align: start; */
    font-size: 18px;
    /* text-align: center;
    justify-content: center;
    align-items: center; */
    width: auto; /* Set a fixed width */
    height: auto; /* Allow the height to grow */
  }



  #prompt-field{
    position: relative;
    display: flex;
    bottom: 50px;
    left: 60px;
    width: 86%;
    align-items: center;
    height: auto;
    padding: 30px;
    border-radius: 10px;
  }

  #prompt-field legend{
    font-style: oblique;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }